<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta
      name="description"
      content="{{ .Description | default .Site.Params.description }}"
    />
    {{ $css := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  </head>
  <body>
    <div class="desktop">
      <div class="navbar">
        <p>test placeholder goop</p>
        <nav class="nav-container">
          <a href="/">Home</a>
          <a href="">Work</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </nav>
      </div>
      <div class="content">{{ block "main" . }} {{ end }}</div>
      <div class="taskbar"><p>I am a Taskbar</p></div>
    </div>
  </body>
</html>
