<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta
      name="description"
      content="{{ .Description | default .Site.Params.description }}"
    />

    {{ $css := resources.Match "css/*.css" | resources.Concat "css/bundle.css" |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  </head>
  <body>
    <div class="desktop">
      <div class="navbar">
        {{ partial "navbar" .}}
      </div>
      <div class="content">
        <div class="inner-window">
          {{ $win := .Site.Data.windows.main }}
          {{ partial "window/header" $win }}
          <div class="window-body">
            <div class="window-body-inner">
              {{ block "main" . }} {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ partial "taskbar" . }}
    </div>
    {{ $js := resources.Get "js/clock.js" | resources.Minify }}
    <script src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
