<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta
      name="description"
      content="{{ .Description | default .Site.Params.description }}"
    />
    {{ $css := resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  </head>
  <body>
  </body>
  <div class="desktop">
    <div class="navbar">
      <p>test placeholder goop</p>
      <nav class="nav-container">
        <a href="/">Home</a>
        <a href="">Work</a>
        <a href="">Blog</a>
        <a href="">Contact</a>
      </nav>
    </div>
    <div class="content">
      <div class="inner-window">
        <div class="window-header pixel-font">
          <p>Duckument - Quackpad.exe</p>
          <div class="window-controls">
            <div class="window-btn">🗕</div>
            <div class="window-btn">🗖</div>
            <div class="window-btn">❌</div>
          </div>
        </div>
        <div class="window-body">
          {{ block "main" . }} {{ end }}
          <h2>I'm in the window</h2>
          <p>hi I'm a hacker</p>
        </div>
      </div>
    </div>
    <div class="taskbar pixel-font">
      <div class="start-btn pixel-font"><img src="/images/start-icon.png" alt="Start" width="18" height="18" /> Start</div>
      <p>Admiral Taskbar</p>
      <div class="system-tray">
        <div class="icon-container">
          <div class="tray-icon"><img src="/images/systray-display.png" alt="Display Icon" width="16" height="16"></div>
          <div class="tray-icon"><img src="/images/systray-modem.png" alt="Dial-Up Connection" width="16" height="16"></div>
          <div class="tray-icon"><img src="/images/bonzi-buddy.png" alt="Purple Monkey" width="16" height="16"></div>
        </div>
        <div class="sys-clock"></div>
      </div>
    </div>
  </div>
  {{ $js := resources.Get "js/clock.js" | resources.Minify }}
  <script src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
