* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* The Colors, Duke */
  --main-gray: #c0c0c0;
  --dark-gray: #808080;
  --light-gray: #e0e0e0;
  --accent-color: #008080;
  /* Dimensions */
  --taskbar-height: 2.5rem;
  --taskbar-element-height: 2rem;
}

body {
  background: black;
  font-family: "MS Sans Serif", Arial, sans-serif;
}
.desktop {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar" "content" "taskbar";
  gap: 4px;
  background: yellow;
}

.navbar {
  grid-area: navbar;
  background: blue;
  padding: 10px;
}

.navbar a {
  color: pink;
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: 1rem;
  padding: 2px;
  justify-content: space-evenly;
}

.content {
  grid-area: content;
  padding: 12px;
  background: purple;
}

/* Inner Windows */
.window-header {
  display: flex;
  justify-content: space-between;
  background: green;
}

.window-controls {
  display: flex;
  justify-content: center;
  gap: 8px;
  background: yellowgreen;
  border: 1px solid blue;
}

.window-btn {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  width: 24px;
}

.inner-window {
  background: pink;
  height: 100%;
}

.window-header {
  padding: 6px;
}

.window-body {
  padding: 20px;
}

/* Taskbar */
.taskbar {
  grid-area: taskbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--taskbar-height);
  background: lime;
  padding: 0 8px;
}

.start-btn {
  background: red;
  margin: 40px 0;
  width: 100px;
  height: var(--taskbar-element-height);
  padding: 0 8px;
}
/* Sys Tray - Lives in taskbar */
.system-tray {
  display: flex;
  align-items: center;
  gap: 8px;
  background: orange;
  margin: 4px 0;
  padding: 0 8px;
  height: var(--taskbar-element-height);
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (min-width: 768px) {
  .desktop {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "navbar content" "taskbar taskbar";
  }
  .navbar {
    grid-area: navbar;
    height: 100%;
  }
  .nav-container {
    flex-direction: column;
    justify-content: start;
    height: 100%;
  }
}
