:root {
  --color-tooltip: #fefedd;
}

.tooltip {
  background: var(--color-tooltip);
  border: 1px solid rgb(41, 18, 18);
  justify-content: center;
  padding: 1px 3px 1px 3px;
  max-width: 200px;
  max-inline-size: 200px;

  overflow-wrap: break-word;
  display: none;
  border-radius: 2px;
}

@supports (anchor-name: --test) {
  .tooltip {
    position-anchor: --tray-tooltip;
    position-area: top;
    position: fixed;
    overflow-wrap: break-word;
    max-inline-size: 200px;
  }
  .tray-icon:hover .tooltip {
    display: block;
  }
}

/* .tooltip {
  background: var(--color-tooltip);
  border: 1px solid red;
  justify-content: center;
  padding: 0px 80px 0px 40px;
} */

/* Approach for non-anchor supported browsers */

/* [data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    right: 0;
    background: var(--color-tooltip);
    border: 1px solid black;
    padding: 2px 6px;
    pointer-events: none;
    white-space: normal;
    max-width: 200px;
    width: max-content;

    visibility: hidden;
}

[data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
} */
