        <nav class="nav-container pixel-font">
          <a href="/" class="desktop-icon"
            ><img src="/images/nav/home-2k.png" /><span>Home</span>
          <a href="/work" class="desktop-icon"
            ><img src="/images/nav/work-chip.png" /> <span>Work</span>
          </a>
          <a href="/blog" class="desktop-icon"
            ><img src="/images/nav/blog-rbin.png" /> <span>Blog</span>
            <div class="tooltip" role="tooltip">Thinking is dangerous</div>
          </a>
          <a href="/contact" class="desktop-icon"
            ><img src="/images/nav/contact-ltr.png" /><span>Contact</span>
          </a>
        </nav>
