      <div class="taskbar pixel-font">
        <div class="start-btn pixel-font">
          <img
            src="/images/start-icon.png"
            alt="Start"
            width="18"
            height="18"
          />
          Start
        </div>
        <p>Admiral Taskbar</p>
        <div class="system-tray">
          <div class="icon-container">
            <div class="tray-icon" data-tooltip="Display Settings">
              <img
                src="/images/systray-display.png"
                alt="Display Icon"
                width="16"
                height="16"
              />
            </div>
            <div class="tray-icon">
              <img
                src="/images/systray-modem.png"
                alt="Dial-Up Connection"
                width="16"
                height="16"
              />
            </div>
            <div
              class="tray-icon"
              data-tooltip="Bonzi Buddy eek eek monke get peanut oaoi break text too long test"
            >
              <img
                src="/images/bonzi-buddy.png"
                alt="Purple Monkey"
                width="16"
                height="16"
              />
              <div class="tooltip" role="tooltip">
                Spyware? More like free real estate.
              </div>
            </div>
          </div>
          <div class="sys-clock"></div>
        </div>
      </div>
