<div class="inner-window dialog pixel-font">
    {{ partial "window/header" .Site.Data.windows.sysinfo }}
    <div class="tab-container">
        <div class="sys-tab raised">General</div>
        <div class="sys-tab raised">Device Manager</div>
    </div>
    <div class="content-container raised">
        <div class="sys-info-row">
            <div class="sys-info-img">IMG</div>
            <div class="sys-info-txt">STATS</div>
        </div>
        <div class="sys-info-row"></div>
    </div>
    <div class="btn-container"><button class="btn">Cancel</button><button class="btn">Cancel</button></div>
</div>
